apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics
  namespace: ops
spec:
  interval: 30m
  chart:
    spec:
      chart: victoria-metrics-single
      version: "0.*"
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
        namespace: ops
      interval: 1h
  values:
    server:
      persistentVolume:
        enabled: true
        storageClass: nfs-client
        size: 20Gi
      retentionPeriod: 14d
