apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""   # must be empty to match PV's empty class
  volumeName: pv-media   # force binding to this exact PV
  resources:
    requests:
      storage: 10Ti

