apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: ops
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: "7.*"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: ops
      interval: 1h

  values:
    persistence:
      enabled: true
      size: 10Gi
      storageClassName: local-path

    adminUser: admin
    adminPassword: admin123  # temporary

    service:
      type: ClusterIP

    ingress:
      enabled: false

    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: VictoriaMetrics
            type: prometheus
            access: proxy
            url: http://victoria-metrics-victoria-metrics-single-server:8428
            isDefault: true
            editable: true
