# OS / Editor
.vscode/
.DS_Store

# Secrets / env files
.env
*.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Kubernetes secrets
secrets.yaml
secrets/*.yaml

# Helm / rendered artefacts (do not GitOps these)
**/rendered-manifest.yaml
**/*.tgz

# PKI / certificates (client-side artefacts)
*.crt
*.pem
*.key
