apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-state-metrics
  namespace: ops
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-state-metrics
      version: "5.*"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: ops
      interval: 1h
  values: {}
