apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
      - name: radarr
        image: linuxserver/radarr:latest
        ports:
        - containerPort: 7878
        env:
        - name: TZ
          value: "Europe/London"
        - name: PUID
          value: "911"
        - name: PGID
          value: "911"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: media
          mountPath: /downloads
          subPath: downloads
        - name: media
          mountPath: /movies
          subPath: movies
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: radarr-config
      - name: media
        persistentVolumeClaim:
          claimName: media

